<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UsedFavorites">
	<select id="select" parameterType="int" resultType="UsedFavorites">
		select * from used_favorites where used_favorites_id=#{used_favorites_id}
	</select>
	
	<select id="getFavoritesCount" parameterType="int" resultType="UsedFavorites">
		select count(*) as count from used_favorites where used_product_id=#{used_product_id} group by used_favorites_id;
	</select>
	
	<delete id="delete" parameterType="int">
		delete from used_favorites where used_product_id=#{used_product_id}
	</delete>
</mapper>